# ZSH ------------------------------------------------------------------------------
'.oh-my-zsh':
  type: archive
  url: 'https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '168h'
  exclude:
    - '*/.*'
    - '*/templates'
    - '*/themes'

'.oh-my-zsh/custom/plugins/zsh-syntax-highlighting':
  type: archive
  url: 'https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '168h'
  exclude:
    - '*/.editorconfig*'
    - '*/.gitattributes'
    - '*/.github'
    - '*/.gitignore'

'.oh-my-zsh/custom/plugins/zsh-autosuggestions':
  type: archive
  url: 'https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '168h'
  exclude:
    - '*/.editorconfig*'
    - '*/.gitattributes'
    - '*/.github'
    - '*/.gitignore'

'.oh-my-zsh/custom/themes/powerlevel10k':
  type: archive
  url: 'https://github.com/romkatv/powerlevel10k/archive/master.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '168h'


# TMUX -----------------------------------------------------------------------------
'.config/tmux':
  type: archive
  url: 'https://github.com/gpakosz/.tmux/archive/master.tar.gz'
  #exact: true # Disable exact checking to allow for custom user configs
  stripComponents: 1
  refreshPeriod: '168h'
  exclude:
    - '*/.github'
    - '*/.gitignore'
    - '*/.gitattributes'
    - '*/.logo'
    - '*/.tmux.conf.local'


# Kitty ----------------------------------------------------------------------------
'.config/kitty/nord-kitty':
  type: archive
  url: 'https://github.com/connorholyday/nord-kitty/archive/master.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '168h'
  exclude:
    - '*/screenshot.png'


# CERN -----------------------------------------------------------------------------
{{- if .is_workstation }}
'.local/bin/lxp-session-manager':
  type: archive
  url: 'https://github.com/jeanyvesb9/lxp-session-manager/archive/main.tar.gz'
  exact: true
  stripComponents: 1
  refreshPeriod: '1m'
{{- end }}


# macOS ----------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
'.local/bin/macos_ws/screencapture-nag-remover.sh':
  type: file
  url: 'https://raw.githubusercontent.com/luckman212/screencapture-nag-remover/refs/heads/main/screencapture-nag-remover.sh'
  refreshPerios: '168h'
{{- end }}
