[user]
    name = {{ .name | quote }}
    email = {{ .email }}

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[http]
    postBuffer = 2097152000
    emptyAuth = true

[https]
    postBuffer = 2097152000

[credential]
    helper = store
    helper = store
    helper = store

# git-delta ---------------------------------------------------
# Install with cargo
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default



# CERN --------------------------------------------------------
[atlas]
    user = jbeaucam
[url "https://gitlab.cern.ch/atlas/athena"]
    insteadOf = athena:
# -------------------------------------------------------------
