{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

{{- if eq .platform "cern" }}
# Save the hostname to a file, to track tmux sessions
echo "$(LC_TIME="en_GB.UTF-8" date): $(hostname)" >> $HOME/.hostname_history

if [[ $($HOME/.local/bin/version-compare $ZSH_VERSION 5.1) == 2 ]]; then
    . /etc/os-release
    if [[ $ID == "centos" && $VERSION_ID == 7* ]]; then
        #Need to load a custom ZSH version, if it's available
        export SHELL=$HOME/.local/centos7/bin/zsh
        exec $SHELL
    else:
        echo "ZSH version > 5.1 is not available for the current OS configuration; will open the latest ZSH version anyways, but po    wershell10k won't work!"
    fi
fi
{{- end }}
