# Local zsh config, by Jean Yves Beaucamp - 2025.

# Path ----------------------------------------------------------------------------
# Add workstation scripts
{{- if eq .chezmoi.os "linux" -}}
export PATH="$HOME/.local/bin/linux_ws:$PATH"

{{- if .install_wacom_scripts -}}
    export PATH="$HOME/.local/bin/wacom:$PATH"
{{- end -}}

{{- else if eq .chezmoi.os "darwin" -}}
export PATH="$HOME/.local/bin/macos_ws:$PATH"
{{- end -}}


# LaTeX ----------------------------------------------------------------------------
{{ if eq .chezmoi.os "linux" }}
    TEX_PATH='/usr/local/texlive/2025/bin/x86_64-linux'
{{ else if eq .chezmoi.os "darwin" }}
    TEX_PATH='/usr/local/texlive/2025/bin/universal-darwin'
{{ end }}
export PATH="$TEX_PATH:$PATH"
